# Main Documentation
include README.md
include LICENSE
include CHANGELOG.md

# Setup / build config
include pyproject.toml
include setup.cfg

# Datasets (inside the Python package)
recursive-include crimedatasets/data *.csv

# Additional documentation
recursive-include docs *.md

# Examples
recursive-include examples *.py

# Do not include
global-exclude __pycache__
global-exclude *.py[cod]
global-exclude .DS_Store
